.br-theme-bars-movie {
    border: solid 2px rgb(6, 57, 81);
    border-radius: 25px;
    background-color: whitesmoke;
}

.br-theme-bars-movie .br-widget {
    height: 20px;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.br-theme-bars-movie .br-widget a {
    width: 9.7%;
    height: 18px;
    margin-top: 1px;
    margin-bottom: 1px
}

.br-theme-bars-movie .br-widget a:nth-child(1) {
    background-color: #ef8b7f;
    border-radius: 25px 0 0 25px;
}

.br-theme-bars-movie .br-widget a:nth-child(2) {
    background-color: #ef8b7f;
}

.br-theme-bars-movie .br-widget a:nth-child(3),
.br-theme-bars-movie .br-widget a:nth-child(4) {
    background-color: #fbc991;
}

.br-theme-bars-movie .br-widget a:nth-child(5),
.br-theme-bars-movie .br-widget a:nth-child(6) {
    background-color: #fee5a7;
}

.br-theme-bars-movie .br-widget a:nth-child(7),
.br-theme-bars-movie .br-widget a:nth-child(8) {
    background-color: #d1dcb5;
}

.br-theme-bars-movie .br-widget a:nth-child(9) {
    background-color: #a7e0f7;
}

.br-theme-bars-movie .br-widget a:nth-child(10) {
    background-color: #a7e0f7;
    border-radius: 0 25px 25px 0;
}

.br-theme-bars-movie .br-widget a.br-active:nth-child(1),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(1),
.br-theme-bars-movie .br-widget a.br-active:nth-child(2),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(2) {
    background-color: rgb(193, 43, 24);
}

.br-theme-bars-movie .br-widget a.br-active:nth-child(3),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(3),
.br-theme-bars-movie .br-widget a.br-active:nth-child(4),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(4) {
    background-color: rgb(247, 147, 31);
}

.br-theme-bars-movie .br-widget a.br-active:nth-child(5),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(5),
.br-theme-bars-movie .br-widget a.br-active:nth-child(6),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(6) {
    background-color: rgb(255, 204, 76);
}

.br-theme-bars-movie .br-widget a.br-active:nth-child(7),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(7),
.br-theme-bars-movie .br-widget a.br-active:nth-child(8),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(8) {
    background-color: rgb(162, 185, 105);
}

.br-theme-bars-movie .br-widget a.br-active:nth-child(9),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(9),
.br-theme-bars-movie .br-widget a.br-active:nth-child(10),
.br-theme-bars-movie .br-widget a.br-selected:nth-child(10) {
    background-color: rgb(76, 193, 239);
}

.br-theme-bars-movie .br-widget .br-current-rating {
    width: 240px;
    text-align: center;
    font-weight: 600;
    padding: .5em 0;
    color: rgb(6, 57, 81);
    font-weight: 400;
}

.br-theme-bars-movie .br-readonly a {
    cursor: default;
}

.br-theme-bars-movie .br-readonly a.br-active,
.br-theme-bars-movie .br-readonly a.br-selected {
    background-color: #729bf8;
}

.br-theme-bars-movie .br-readonly .br-current-rating {
    color: #729bf8;
}

@media print {
    .br-theme-bars-movie .br-widget a {
        border: 1px solid #b3b3b3;
        background: white;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .br-theme-bars-movie .br-widget a.br-active,
    .br-theme-bars-movie .br-widget a.br-selected {
        border: 1px solid black;
        background: white;
    }
    .br-theme-bars-movie .br-widget .br-current-rating {
        color: black;
    }
}